data/cskg/
data/inputs/
data/outputs/
data/commonsense_knowledge.db
data/filter_objects.txt
data/filter_relationships.txt
data/image_set_generation.db
data/edge_cache.pickle
data/node_cache.pickle
data/node_edge_cache.pickle
data/cskg/cskg.tv
data/cskg/cskg_dim.tv
data/cskg/weights.tv
src/__pycache__/
src/commonsense/__pycache__/
src/hypothesis/__pycache__/
src/input_handling/__pycache__/
src/knowledge_graph/__pycache__/
src/output_handling/__pycache__/
ui/Assets/*.meta
ui/Assets/Scenes/*.meta
ui/Assets/Scripts/*.meta
ui/.vscode/
ui/Library/
ui/Logs/
ui/obj/
ui/Packages/
ui/ProjectSettings/
ui/Temp/
ui/UserSettings/
ui/Assembly-CSharp.csproj
ui/ui.sln
archive/